$bgColor: #383b43;
$logoColor: #bac7e3;
$wight: #ffffff;
$darkenWight: #e0e2ec;
$gray: #474648;
$darkBlue: #3b475e;

@mixin circle($diameter: 25px, $color: transparent) {
    border-radius: 50%;
    width: $diameter;
    height: $diameter;
    background-color: $color;

    display: flex;
    align-items: center;
    justify-content: center;

}

@mixin hover($color:rgba(255, 255, 255, 0.125)){
    background-color: $color;
}

@mixin solidColorWight(){
    filter: brightness(0) invert(1);
}

@function get-google-blue-color(){
    @return (brightness(0) saturate(100%) invert(88%) sepia(10%) saturate(614%) hue-rotate(185deg) brightness(96%) contrast(89%));
}