@import './variables-and-functions';

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;

    background-color: $bgColor;

    header {
        display: flex;
        justify-content: flex-end;
        align-content: center;
        flex-direction: row;
        align-items: center;

        margin-right: 10px;
        padding-top: 10px;
        .circle{
            @include circle(35px, transparent);

            &:hover{
                    @include hover();
                }

            .dots-9{
                @include solidColor();

            }
            margin-left: 18px;

        }
        .acount{
            @include circle(35px, transparent);

            img{
                height: 100%;
                @include circle(35px, transparent);
            }
        }

        a{
            margin-left: 15px;

            text-decoration: none;
            color: $wight;

            &:hover{
                text-decoration: revert;
            }
        }
    }

    main {
        margin-top: 100px;

        display: flex;
        flex-direction: column;
        align-items: center;

        .logo{
            filter: brightness(0) saturate(100%) invert(88%) sepia(10%) saturate(614%) hue-rotate(185deg) brightness(96%) contrast(89%);
            margin-bottom: 40px;
        }

        .sershBox{
            background-color: $wight;
            width: 50rem;
            height: 48px;
            border-radius: 24px;
            display: grid;
            grid-template-columns: 30px 1fr 46px 30px 135px;
            align-items: center;
            // gap: 20px;
            padding-left: 20px;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            overflow: hidden;

            input{
                height: 100%;
                border: 0;
                font-size: 20px;
            }
            svg{
                width: 20px;
                margin-right: 20px;
            }
            img{
                border-radius: 20px;
                // margin-left: -50px;
            }
            // ==================================================
            margin-bottom: 40px;
        }

        .tabCollection{
            display: flex;
            justify-content: space-between;
            // width: 202vw;
            align-items: center;
            flex-direction: row-reverse;

            .tabBox{
                display: flex;
                flex-direction: column;

                width: 112px;
                height: 112px;
                border-radius: 5px;

                align-items: center;
                justify-content: space-around;

                color: $wight;

                &:hover{
                    @include hover();
                }

                .grayCircle{
                    @include circle(55px, $gray);

                    img{
                        height: 30px;
                    }
                }
            }
        }
    }

    footer {
        
        div{
            
            position: fixed;
            right: 16px;
            bottom: 16px;
            background-color: $darkBlue;
            color: $darkenWight;
            padding: 7px 20px;
            border-radius: 25px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 1px 2px;
            display: flex;
            flex-direction: row;
            align-items: center;
            
            p{
                margin-left: 8px;
                font-size: 15px;
            }

            svg{
                fill: $darkenWight;
                width: 21px;
            }
        }
    }
}