* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #383b43;
}
body header {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
  padding-top: 10px;
}
body header .circle {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 18px;
}
body header .circle:hover {
  background-color: rgba(255, 255, 255, 0.125);
}
body header .circle .dots-9 {
  filter: brightness(0) invert(1);
}
body header .acount {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header .acount img {
  height: 100%;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header a {
  margin-left: 15px;
  text-decoration: none;
  color: #ffffff;
}
body header a:hover {
  -webkit-text-decoration: revert;
          text-decoration: revert;
}
body main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .logo {
  filter: brightness(0) saturate(100%) invert(88%) sepia(10%) saturate(614%) hue-rotate(185deg) brightness(96%) contrast(89%);
  margin-bottom: 40px;
}
@media (max-width: 500px) {
  body main .logo {
    height: 75px;
  }
}
body main .sershBox {
  background-color: #ffffff;
  height: 48px;
  border-radius: 24px;
  display: grid;
  grid-template-columns: 30px 1fr 46px 30px 135px;
  align-items: center;
  padding-left: 20px;
  overflow: hidden;
  width: 50rem;
  margin-bottom: 40px;
}
@media (max-width: 850px) {
  body main .sershBox {
    width: 40rem;
  }
}
@media (max-width: 660px) {
  body main .sershBox {
    width: 480px;
  }
}
@media (max-width: 500px) {
  body main .sershBox {
    width: 304px;
  }
}
body main .sershBox button {
  background-color: transparent;
  border: 0;
}
body main .sershBox input {
  height: 100%;
  border: 0;
  font-size: 20px;
}
@media (max-width: 660px) {
  body main .sershBox input {
    font-size: 15px;
  }
}
body main .sershBox svg {
  width: 20px;
  margin-right: 20px;
}
body main .sershBox img {
  border-radius: 20px;
}
body main .tabCollection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
body main .tabCollection .tabBox {
  display: flex;
  flex-direction: column;
  width: 112px;
  height: 112px;
  border-radius: 5px;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
}
body main .tabCollection .tabBox:hover {
  background-color: rgba(255, 255, 255, 0.125);
}
body main .tabCollection .tabBox a {
  text-decoration: none;
}
body main .tabCollection .tabBox .grayCircle {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background-color: #474648;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .tabCollection .tabBox .grayCircle img {
  height: 30px;
}
body footer div {
  position: fixed;
  right: 16px;
  bottom: 16px;
  background-color: #3b475e;
  color: #e0e2ec;
  padding: 7px 20px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 1px 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
body footer div p {
  margin-left: 8px;
  font-size: 15px;
}
body footer div svg {
  fill: #e0e2ec;
  width: 21px;
}/*# sourceMappingURL=main.css.map */